@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}
a,button,h3,h2,p,h6,h5,h1,h4{
	font-family: 'yekan' !important;
}
.cart-total{
	background: red;
    min-width: 20px;
    position: absolute;
    right: 3px;
	bottom:0px;
    border-radius: 4em;
    font-size: 12px;
	text-align:center;
}
.navigation-clean-button {
    background: #08311d;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
.navigation-clean-button li>a{
    text-shadow: none;
}
@media (min-width:768px) {
    .navigation-clean-button {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.navigation-clean-button .navbar-toggle {
    border-color: #ddd;
    color: #888;
}
.navigation-clean-button .navbar-toggle:focus, .navigation-clean-button .navbar-toggle:hover {
    background: 0 0;
}
.navigation-clean-button .navbar-collapse {
    border-top-color: #ddd;
}
.navigation-clean-button .navbar-nav a.active,.navigation-clean-button .navbar-nav a {
    background: 0 0;
    box-shadow: none;
}
.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav a.active:focus, .navigation-clean-button .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: 0 0;
    pointer-events: none;
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px;
}
.navbar-right .dropdown-menu{
	right:0px;
}

.header-text {
    position: absolute;
    top: 43%;
    right: 0;
	left:0;
    width: 100%;
	height:46%;
    color: #fff;
}

.header-text h2 {
    font-size: 20px;
	padding: 3px;
	width:100%;
	height:30px;
	background-color: rgb(52,86,98);
}
.header-text h3 {
    font-size: 40px;
	padding: 3px;
	width:100%;
	height:70px;
	background-color: rgb(0,30,15);
	margin-top:-10px;
}

.slider-btn{
	position:absolute;
	left:30%;
	right:30%;
	bottom: 0;
}
.slider-btn .btn{
	float:none;
}
.nokh{
	left:-3px;
}
.black-back{
	background-color: rgb(36,45,55);
	color:white;
	padding-top:60px;
	padding-bottom:80px;
}
.black-back .heading-border{
	border-bottom:3px solid #FFF;
	display:inline-block;
	font-size:2em;
	padding-bottom:20px;
}
.black-back h6{
	padding-top:10px;
}
.white-back{
	background-color: #fff;
	padding-top:60px;
	padding-bottom:80px;
}
.white-back .heading-border{
	border-bottom:3px solid #000;
	display:inline-block;
	font-size:2em;
	padding-bottom:20px;
}
.scard{
	padding-top:15px;
	padding-bottom:15px;
}
.scard:hover{
	background-color:#f9f9f9;
}
.price-info{
	border:1px solid #f1f1f1;
	margin:8px 0;
}
.price-info h5{
	background-color:#f1f1f1;
	color:#6c7550;
}
.price-info p{
	color:#898989;
	font-size:16px;
	padding: 10px 0;
}
.p-1{
	padding:0.25rem !important;
}
/*rem	Relative to font-size of the root element*/
.p-2{
	padding:1rem !important;
	margin-top:0px;
}
.m-2 {
    margin: .5rem!important;
}
.black{
	background-color:#343a40;
	border-color: #343a40;
	color:#fff;
}
.black:hover ,.black:focus{
	background-color:#23272b;
	border-color: #1d2124;
	color:#fff;
}
.myul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.social{
	color:white;
	margin-right:40px;
}